<span
    class="eight-list-marker"
    data-add-classes="eight-list-decorator"
    data-subject-class="{{ subject_class }}"
    data-add-variables='{"page-id":"{{ page_id }}","slot-label":"{{ slot_label }}","title":"{{ title }}","subject-label":"{{ subject_label }}","is_static":false}'
    data-add-content='{{ subject.info|json_encode|raw }}'
    >
</span>

{{ html|raw }}
