<span
    class="eight-list-marker"
    data-add-classes="eight-list-decorator"
    data-subject-class="{{ subject_class }}"
    data-add-variables='{"slot-label":"{{ slot_label }}","title":"{{ title }}","subject-label":"{{ subject_label }}"}'
    data-add-content='{{ subject.toArray|json_encode }}'
    >
</span>

{{ html|raw }}
