<span
    class="eight-list-marker"
    data-add-classes="eight-list-decorator"
    data-subject-class="{{ subject_class }}"
    data-add-variables='{"subject-label":"{{ label }}","title":"{{ title }}"}'
    data-add-content='{{ subject.toArray|json_encode }}'
    >
</span>

{{ html|raw }}