<div id="edit-block-modal-{{ form.vars.id }}" class="eight-block-modal modal" tabindex="-1" role="dialog" data-block-id="{{ current_form_block.id }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    Edit <strong>{{ current_form_block.type }}</strong> (id: {{ current_form_block.id }})
                </p>
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>