<div class="page-toolkit">
    <a title="Show/Hide widget editor" id="btn-edit-layout-mode" class="btn btn-primary btn-sm" onclick="$('body').toggleClass('toolkit');" href="javascript:;">
        <span class="fa fa-wrench"></span>
    </a>

    <a data-toggle="tooltip" title="Back to pages listing" id="back-to-list-button" class="btn btn-primary btn-sm" href="{{ path('admin_eight_page_page_list') }}">
        <span class="fa fa-home"></span>
    </a>

    <span id="page-specs">{{ page|raw }} || path: {{ page.route.path }} || controller: {{ page.route.controller }} || layout: {{ page.layout ? page.layout : 'default' }}</span>
</div>

<div id="add-block-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new block</h4>
            </div>
            <div class="modal-body">
                {% for widget in widgets %}
                    <a class="single-block-button" href="javascript:;" onclick="Editor.selectWidget(this)" data-template="{{ widget.layout }}" data-name="{{ widget.name }}">
                        <span class="widget-icon {{ widget.icon }}"></span>
                        <span class="widget-label">{{ widget.label }}</span>
                    </a>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary add-block-btn">ADD</button>
            </div>
        </div>
    </div>
</div>

<div id="loading" class="d-none">
    <img src="/bundles/eightpage/images/loader.png">
</div>

<script type="text/html" id="toolbar-template">
<div>
    <div class="eight-toolbar eight-frame-element">
        <a title="Edit block" class="eight-ui-button btn-edit-variable" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-pencil"></span>
        </a>

        <a title="Sort block" class="eight-ui-button btn-sort-block" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-arrows-v"></span>
        </a>

        <a title="Delete block" class="eight-ui-button btn-remove-block" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-remove"></span>
        </a>

        <a title="Disable block" class="eight-ui-button btn-disable-block" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-ban"></span>
        </a>

        <a title="Enable block" class="eight-ui-button btn-enable-block" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-eye"></span>
        </a>
    </div>
</div>
</script>




<script type="text/javascript">
var globalAppendUrl = '{{ path('admin_eight_page_block_append') }}';
var globalRemoveUrl = '{{ path('admin_eight_page_block_remove') }}';
var globalReorderUrl = '{{ path('admin_eight_page_block_reorder') }}';
var globalEnableUrl = '{{ path('admin_eight_page_block_enable') }}';
var globalDisableUrl = '{{ path('admin_eight_page_block_disable') }}';
var globalUpdateEightAddButtonsPosition = '{{ update_add_buttons_position }}';


{# this must be called before any plugin starts executing,
   to allow the library setting up DOM attributes and remove html markers #}
Editor.setupMarkers();
</script>
