<div class="page-toolkit">
    <a data-toggle="tooltip" title="Show/Hide widget editor" id="btn-edit-layout-mode" class="btn btn-primary btn-sm" onclick="$('body').toggleClass('toolkit');" href="javascript:;">
        <span class="fa fa-wrench"></span>
    </a>

    {% if eight_page_sonata_admin_enabled() %}
        <a data-toggle="tooltip" title="Back to pages listing" id="back-to-list-button" class="btn btn-primary btn-sm" href="{{ path('admin_eight_page_page_list') }}">
            <span class="fa fa-home"></span>
        </a>
    {% endif %}

    {% if eight_page_easy_admin_enabled() %}
        <a data-toggle="tooltip" title="Back to pages listing" id="back-to-list-button" class="btn btn-primary btn-sm" href="{{ path('admin') }}">
            <span class="fa fa-home"></span>
        </a>
    {% endif %}

    <span id="page-specs">Page: "{{ page|raw }}" || URI: {{ page.route.path }}</span>
</div>

<div id="add-block-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new block</h5>
            </div>
            <div class="modal-body">
                {% for widget in widgets %}
                    <a class="single-block-button" href="javascript:;" onclick="Editor.selectWidget(this)" data-template="{{ widget.layout }}" data-name="{{ widget.name }}">
                        <span class="widget-icon {{ widget.icon }}"></span>
                        <span class="widget-label">{{ widget.label }}</span>
                    </a>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary add-block-btn">ADD</button>
            </div>
        </div>
    </div>
</div>

<div id="loading" class="d-none">
    <img src="/bundles/eightpage/images/loader.png">
</div>

<div id="confirmation-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">{{ 'Confirm action'|trans }}</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5 class="confirmation"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-radius btn-secondary" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                <button type="button" class="btn btn-radius btn-primary btn-confirm">{{ 'Ok'|trans }}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="toolbar-template">
<div>
    <div class="eight-toolbar eight-frame-element">
        <a title="Edit block" class="eight-ui-button btn-edit-variable" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-pencil-alt"></span>
        </a>

        <a title="Sort block" class="eight-ui-button btn-sort-block" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-arrows-alt-v"></span>
        </a>

        <a title="Move Up" class="eight-ui-button btn-move-up-block" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-arrow-up"></span>
        </a>

        <a title="Move Down" class="eight-ui-button btn-move-down-block" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-arrow-down"></span>
        </a>

        <a title="Delete block" class="eight-ui-button btn-remove-block" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-trash-alt"></span>
        </a>

        <a title="Disable block" class="eight-ui-button btn-disable-block" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-ban"></span>
        </a>

        <a title="Enable block" class="eight-ui-button btn-enable-block" href="javascript:;" data-toggle="tooltip">
            <span class="fa fa-eye"></span>
        </a>
    </div>
</div>
</script>



<script type="text/javascript">
{% if eight_page_sonata_admin_enabled() %}
    var globalAppendUrl = '{{ path('admin_eight_page_block_append') }}';
    var globalRemoveUrl = '{{ path('admin_eight_page_block_remove') }}';
    var globalReorderUrl = '{{ path('admin_eight_page_block_reorder') }}';
    var globalEnableUrl = '{{ path('admin_eight_page_block_enable') }}';
    var globalDisableUrl = '{{ path('admin_eight_page_block_disable') }}';
{% endif %}

{% if eight_page_easy_admin_enabled() %}
    var globalAppendUrl = '{{ path('admin_eight_page_block_append') }}';
    var globalRemoveUrl = '{{ path('admin_eight_page_block_remove') }}';
    var globalReorderUrl = '{{ path('admin_eight_page_block_reorder') }}';
    var globalEnableUrl = '{{ path('admin_eight_page_block_enable') }}';
    var globalDisableUrl = '{{ path('admin_eight_page_block_disable') }}';
{% endif %}

var globalUpdateEightAddButtonsPosition = '{{ update_add_buttons_position }}';

{# this must be called before any plugin starts executing,
   to allow the library setting up DOM attributes and remove html markers #}
Editor.setupMarkers();
</script>
