{% block icon_choice_widget %}
    {% spaceless %}
        <div class="select-icon-container">
            <span class="icon-preview {{ value }}"></span>
            <a onclick="Editor.selectIconWindow(this)" class="btn btn-default btn-sm select-icon-btn" href="javascript:;">Select icon</a>
            <div class="icon-selection-list hide">
                <a class="selection-close" href="javascript:;" onclick="Editor.closeIconWindow(this)">
                    &times;
                </a>
                <div class="icon-selection-list-inner">
                    {% for group_label, choice in choices %}
                        <a class="icon-choice" href="javascript:;" onclick="Editor.selectIcon(this)" data-value="{{ choice.value }}" data-target="#{{ form.vars.id }}">
                            <span class="{{ choice.value }}"></span>
                            {{ choice.label }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <input type="hidden" name="{{ full_name }}" id="{{ form.vars.id }}" value="{{ value }}" />
    {% endspaceless %}
{% endblock %}

{% block image_preview_widget %}
    {% if src is not empty %}
        <img style="width:120px" src="{{ src }}">
    {% endif %}
{% endblock %}