{% block icon_choice_widget %}
    {% spaceless %}
        <div class="select-icon-container">
            <span class="icon-preview {{ value }}"></span>
            <a onclick="Editor.selectIconWindow(this)" class="btn btn-default btn-sm select-icon-btn" href="javascript:;">Select icon</a>
            <div class="icon-selection-list d-none">
                <a class="selection-close" href="javascript:;" onclick="Editor.closeIconWindow(this)">
                    &times;
                </a>
                <div class="icon-selection-list-inner">
                    {% for group_label, choice in choices %}
                        <a class="icon-choice" href="javascript:;" onclick="Editor.selectIcon(this)" data-value="{{ choice.value }}" data-target="#{{ form.vars.id }}">
                            <span class="{{ choice.value }}"></span>
                            {{ choice.label }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <input type="hidden" name="{{ full_name }}" id="{{ form.vars.id }}" value="{{ value }}" />
    {% endspaceless %}
{% endblock %}

{% block image_preview_widget %}
    {% if src is not empty %}
        <img style="width:120px" src="{{ src }}">
    {% endif %}
{% endblock %}


{% block multiple_text_widget %}
    {% spaceless %}
        <br>
        {% for val in value %}
            <div class="form-group">
                <input type="text" {{ block('widget_attributes') }} {% if val is not empty %}value="{{ val }}" {% endif %} />
                <a href="javascript:;" onclick="$(this).parent().remove()" class="btn btn-danger">&times;</a>
            </div>
        {% endfor %}
        <div class="form-group">
            <input type="text" {{ block('widget_attributes') }} />
            <a href="javascript:;" onclick="$(this).parent().remove()" class="btn btn-danger">&times;</a>
        </div>
        <a class="btn btn-primary" href="javascript:;" onclick="$(this).prev().clone().insertAfter($(this).prev());">&plus;</a>
    {% endspaceless %}
{% endblock %}